<div class="mb-20" fxLayout="row" fxLayout.md="column" fxFlex fxLayoutGap="20px grid" layout-margin>
    <div fxFlex>
        <mat-card fxFlexFill fxLayoutAlign="center center">
            50%
        </mat-card>
    </div>
    <div fxFlex>
        <mat-card fxFlexFill fxLayoutAlign="center center">
            50%
        </mat-card>
    </div>
</div>

<div fxFlexFill [fxLayout]="'row wrap'" fxLayoutGap="20px grid">
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            A
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            B
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            C
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            D
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            E
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            F
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            G
        </mat-card>
    </div>
</div>