<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex>
        <mat-card fxFlexFill fxLayoutAlign="center center">
            100%
        </mat-card>
    </div>
</div>

<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div fxFlex *ngFor="let i of [50, 50]">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            {{i}}%
        </mat-card>
    </div>
</div>

<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div [fxFlex]="i" *ngFor="let i of [33.33, 33.33, 33.33]">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            {{i}}%
        </mat-card>
    </div>
</div>

<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div [fxFlex]="i" *ngFor="let i of [25, 25, 25, 25]">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            {{i}}%
        </mat-card>
    </div>
</div>

<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div [fxFlex]="i" *ngFor="let i of [12.5, 12.5, 12.5, 12.5, 12.5, 12.5, 12.5, 12.5]">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            {{i}}%
        </mat-card>
    </div>
</div>

<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div [fxFlex]="15">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            15%
        </mat-card>
    </div>
    <div [fxFlex]="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            25%
        </mat-card>
    </div>
    <div [fxFlex]="60">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            60%
        </mat-card>
    </div>
</div>

<!-- <div fxFlexFill [fxLayout]="'row wrap'" fxLayoutGap="20px grid">
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            A
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            B
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            C
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            D
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            E
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            F
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card fxFlexFill fxLayoutAlign="center center">
            G
        </mat-card>
    </div>
</div> -->