@font-face {
    font-family: 'Fontil Sans';
    src: url('../assets/fonts/FontinSans/Fontin_Sans_R.otf') format('opentype');
}

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
    $font-family: 'Fontil Sans, monospace',
    $headline: mat-typography-level(32px, 48px, 700),
    $body-1: mat-typography-level(16px, 24px, 500)
);
@include angular-material-typography($custom-typography);

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Fontil Sans';
}

.main-container {
    position: absolute;
    top: 64px;
    left: 250px;
    right: 0;
    bottom: 0;
    padding: 20px;
}

@media screen and (max-width: 992px) {
    .main-container {
        left: 0px;
    }
}

@media screen and (max-width: 992px) {
    .push-right {
        #sidebar {
            left: 0 !important;
        }
    }
}

.mb-20 {
    margin-bottom: 20px;
}
