<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div fxFlex>
        <app-auto-complete></app-auto-complete>
    </div>
    <div fxFlex>
        <app-date-picker></app-date-picker>
    </div>
</div>
<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>

        <app-checkbox></app-checkbox>
    </div>
    <div fxFlex>
        <app-form-field></app-form-field>
    </div>
</div>

<div fxFlex fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex>
        <app-slider></app-slider>
    </div>
</div>