<div fxLayout="row" fxLayout.md="column" fxFlex fxLayoutGap="20px grid">
    <div fxFlex>
        <app-auto-complete></app-auto-complete>
    </div>
    <div fxFlex>
        <app-checkbox></app-checkbox>
    </div>
</div>
<div fxLayout="row" fxLayout.md="column" fxFlex fxLayoutGap="20px grid">
    <div fxFlex>
        <app-date-picker></app-date-picker>
    </div>
    <div fxFlex>
        <app-form-field></app-form-field>
    </div>
</div>

<div fxLayout="row" fxLayout.md="column" fxFlex fxLayoutGap="20px grid">
    <div fxFlex>
        <app-slider></app-slider>
    </div>
    <div fxFlex>
        &nbsp;
    </div>
</div>
